.block {
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.block-nj {
    width:100%;
    text-align: center;
    position: absolute;
}

.block.relative {
    position:relative!important;
}

.block .content {
    z-index:1;
    max-height:100%;
}

.block-100 {
    min-height: 100%;
    height:100% !important;
}

.block-100-min {
    min-height: 100%;
}

.block-50 {
    height:50% !important;
}

p {
    font-size: 20px;
}

/* Desktop */

@media only screen and (min-width: 768px) {
    .block {
        position: absolute;
    }
}