@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');html,
body, #wrapper {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Exo', sans-serif!important;
  color: black!important;
}

#news-scroll {
  background-color: #00aee9;
  color:#FFF;
  font-weight: bold;
  position:absolute;
  bottom:-20px;
  left:0;
  width:100%;
  height:20px;
  border-bottom:2px solid white;
}

#anim-sections {
  width: 100%;
  height: 100%;
  overflow: hidden;
  inset: 0px auto auto 0px!important;
  /* margin-top:100%!important; */
}

#tokenomics, #roadmap, #careers {
  background-color: #00aee9;
}

#tokenomics a, #tokenomics a:visited, #tokenomics a:hover {
  color:#FFF;
}

#home, #howtobuy, #community {
  background-color: #FFF;
}

#intro-quote {
  text-align: center;
  font-size: 1.8em;
  max-width:500px;
  margin:0 auto;
}

#intro-quote a {
  z-index:400;
}

#intro-quote blockquote {
  /* margin:0!important; */
}

#tokenomics ul {
  list-style-type: none;
  text-align: left;
  /* padding:60px!important; */
}

#tokenomics h1 {
  text-align: left;
  padding-left: 40px;
}

#tokenomics .container {
  margin-top: 125px;
}

#home {
  /* z-index:1; */
}

#tokenomics {
  z-index:402;
}

#howtobuy {
  z-index:403;
}

#roadmap {
  z-index:404;
}

#community .row {
  margin-bottom: 100px;
}

#roadmap p {
  font-size: 30px;
}

#howtobuy ul {
  list-style-type: none;
  text-align: left;
  font-size:12px;
  padding:10px;
}

#howtobuy ul li {
  padding:0px 5px;
}

#howtobuy #instructions-buy {
  list-style-type: decimal;
}

#home .content {
  z-index: 15!important;
}

#home .content #welcome > img {
  z-index: 10;
  width: 50%;
  height: 50%;
  opacity: 0.90;
  margin-top:30px;

}

#tothemoon {
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  position: absolute;
  display: none;
}

#rocket {
  transform-box: fill-box;
  offset-anchor: 50% 50%;
  /*   if offset anchor isn't supported we can use transform-origin instead */
  transform-origin: 50% 50%;
  offset-rotate: auto;
  offset-path: path('M20.2 679.7c210.3-19.1 398.9-219.6 236.5-257.5-170.5-16.8-132.5 146.2-6.8 184.7 141.6 55.7 242.3-9.9 215.3-89.3-43.7-94-330-292-85-347.3 135.5-18.7 251 54.7 302.9 141.5 50.2 85 25.5 183.8 136.6 248.6C1000 627 1037.7 427 1039 395.7c20.3-196.6-133.8-218-199.5-170s-11.3 138.5 107 114S1126.7 147.6 1092.6 67c-2.4-12.2-1.4-23.1 9.2-31.8 100.8-49.4 112.2 198.4 239-23.8');
  animation: move 5s forwards linear;
  animation-delay: 2s;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  70% {
    offset-distance: 50%;
  }
  100% {
    offset-distance: 100%;
  }
}

#header {
  background-color: #fff;
  border-bottom: 2.5px solid #00aee9;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

#header a, #howtobuy a, #home a, #community a, #careers a, #tokenomics #token_fees a {
  z-index: 1000;
  border: 0;
  border: 1px solid black;
  margin: 10px;
  display: block;
  padding: 10px;
  border-radius: 100px;
  background: transparent;
  /* default color */
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, transparent 50%, #ae8c69 50%) right;
  background-size: 200%;
  transition: .8s ease-out;
  color: black;
  text-decoration: none;
}

#header a:hover, #howtobuy a:hover, #home a:hover, #community a:hover, #careers a:hover, #tokenomics #token_fees a:hover {
  background-color: #FFF;
  color: black;
  cursor: pointer;
  background-position: left;
}

#header a:visited, #howtobuy a:visited, #home a:visited, #community a:visited, #careers a:visited, #tokenomics #token_fees a:visited {
  color: black;
  text-decoration: none;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

#header li a {
  display: block;
  text-decoration: none;
}

#header li a:hover,
#header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* menu */

#header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

#header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

#header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

#header .menu-icon .navicon:before,
#header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

#header .menu-icon .navicon:before {
  top: 5px;
}

#header .menu-icon .navicon:after {
  top: -5px;
}


/* menu btn */

#header .menu-btn {
  display: none;
}

#header .menu-btn:checked~.menu {
  max-height: 270px;
}

#header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

#header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
#header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

#header .logo {
  display: block;
  float: left;
  text-decoration: none;
  width:60px;
  height:60px;
}

img.logo {
  margin:5px;
  padding:5px;
}

#home a {
  display:inline!important;
}

@media (min-width: 48em) {
  #header li {
    display: inline-block;
  }
  #header .menu {
    clear: none;
    max-height: none;
  }
  #header .menu-icon {
    display: none;
  }
}


/* Desktop */

@media only screen and (min-width: 768px) {
  #home .content #welcome > img {
    width: 25%;
    height: 25%;
  }

  a {
    display: inline
  }
  #tothemoon {
    display: block
  }

  #howtobuy ul {
    font-size:20px;
  }

  #intro-quote {
    font-size: 2em;
  }

  .dot-info span.label {
    width:100px!important;
  }

  #anim-sections {
    margin-top:auto;
  }
}

/* Roadmap */

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::before, input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
input::before {
  left: calc(-4vw + 12.5px);
}
input::after {
  right: calc(-4vw + 12.5px);
}
input:checked {
  background-color: #2C3E50;
}
input:checked::before {
  background-color: #2C3E50;
}
input:checked::after {
  background-color: #AEB6BF;
}
input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #AEB6BF;
}

input:checked ~ input, input[type="checkbox"], input[type="radio"] {
  margin-bottom: 50px;
  margin-right: 10px;
}
input:checked + .dot-info span {
  font-size: 14px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 14px;
}
.dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot-info span.label {
  top: -80px;
  left: -5px;
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
}

input[data-description="0"]:checked ~ #timeline-descriptions-wrapper p[data-description="0"] {
  display: block;
}

input[data-description="1"]:checked ~ #timeline-descriptions-wrapper p[data-description="1"] {
  display: block;
}

input[data-description="2"]:checked ~ #timeline-descriptions-wrapper p[data-description="2"] {
  display: block;
}

input[data-description="3"]:checked ~ #timeline-descriptions-wrapper p[data-description="3"] {
  display: block;
}

input[data-description="4"]:checked ~ #timeline-descriptions-wrapper p[data-description="4"] {
  display: block;
}

input[data-description="5"]:checked ~ #timeline-descriptions-wrapper p[data-description="5"] {
  display: block;
}

input[data-description="6"]:checked ~ #timeline-descriptions-wrapper p[data-description="6"] {
  display: block;
}

input[data-description="7"]:checked ~ #timeline-descriptions-wrapper p[data-description="7"] {
  display: block;
}

input[data-description="8"]:checked ~ #timeline-descriptions-wrapper p[data-description="8"] {
  display: block;
}

input[data-description="9"]:checked ~ #timeline-descriptions-wrapper p[data-description="9"] {
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
  }

  input, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before, input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2C3E50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 14px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #AEB6BF;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}

/* divider */
.custom-shape-divider-bottom-1619174670 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1619174670 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1619174670 .shape-fill {
  fill: #00AEE9;
}

.custom-shape-divider-top-1619174770 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1619174770 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 74px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1619174770 .shape-fill {
  fill: #00AEE9;
}